@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans", sans-serif;
}

html,
body {
  @apply h-full w-full box-border m-0 p-0 flex flex-col;
}

main {
  @apply flex flex-col flex-1;
}
